setup:
  codecov_url: "https://codecov.yourdomain.com"
  enterprise_license: "YOUR-ENTERPRISE-LICENSE-KEY"
  http:
    cookie_secret: "dnVvY0VrdnVlamVrcGVhZwo="
github:
  client_id: "client-id"
  client_secret: "client-secret"
